@use '../../styles/variables' as *;

.button {
  min-height: 64px;
  border-radius: $radius-200;
  border: none;
  font-size: $text-4-size;
  cursor: pointer;
  background: var(--color-btn-primary);
  color: var(--color-text-numbers);
  transition:
    background 0.2s,
    transform 0.1s;
}

.button--number,
.button--operator {
  max-width: 101px;
  width: 100%;
}

.button--number:active,
.button--operator:active,
.button--number.active,
.button--operator.active {
  background: var(--color-btn-active);
}

.button--del {
  max-width: 101px;
  width: 100%;
  background: var(--color-btn-secondary);
  color: var(--color-text-header);
}

.button--del:active,
.button--del.active {
  background: var(--btn-active-options);
}

.button--reset,
.button--equal {
  max-width: 228px;
  width: 100%;
  margin-top: $spacing-200;
}

.button--reset {
  background: var(--color-btn-secondary);
  color: var(--color-text-header);
  grid-column: span 2;
}

.button--reset:active,
.button--reset.active {
  background: var(--btn-active-options);
}

.button--equal {
  background: var(--color-btn-result);
  color: var(--color-text-display);
  grid-column: span 2;
}

.button--equal:active,
.button--equal.active {
  background: var(--btn-active-equal);
}

.active {
  transform: scale(0.95);
}

@media (max-width: 460px) {
  .button {
    font-size: $text-5-size;
  }
}
