$white: #ffffff;
$black: #000000;

$black-950: #0b0b0b;
$black-900: #121212;
$black-800: #1a1a1a;
$black-700: #222222;
$purple-600: #2a2a2a;

$navy-950: #181f33;
$navy-900: #242d44;
$navy-850: #3a4663;
$navy-750: #434a59;
$navy-700: #647198;
$navy-400: #a2b2e1;

$gray-900: #36362c;
$gray-300: #d2cdcd;
$gray-200: #e6e6e6;
$gray-100: #eeeeee;

$blue-950: #1a2327;
$blue-500: #378187;
$blue-400: #62b5bc;

$red-700: #c8102e;
$red-600: #d03f2f;
$red-500: #9f0f24;
$red-400: #f96b5b;

$orange-700: #c85402;
$orange-400: #ff8a38;

$cyan-500: #00ded0;
$cyan-200: #93fff8;

$text-1-size: 56px;
$text-2-size: 40px;
$text-3-size: 32px;
$text-4-size: 28px;
$text-5-size: 20px;
$text-6-size: 12px;

$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;

$radius-100: 4px;
$radius-200: 8px;
$radius-300: 16px;

$font-primary: 'League Spartan', sans-serif;
