@use '../../styles/variables' as *;

.display {
  background-color: var(--background-display);
  height: 128px;
  max-width: 540px;
  width: 100%;
  border-radius: $radius-200;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: $spacing-200 $spacing-300 $spacing-200 0;

  &__value {
    font-size: $text-1-size;
    color: var(--color-text-display);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
