@use './styles/variables' as *;

.app {
  display: flex;
  justify-content: center;
  min-height: 703px;
  max-width: 540px;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

@media (max-width: 590px) {
  .app {
    margin: 0 $spacing-300;
    height: auto;
  }
}
